.card {
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    display: inline-block;
    margin: 10px;
    max-height: 30px;
    max-width: 30px;
    padding: 5px;
    text-align: center;
}

.card-image {
    max-height: 30px;
    max-width: 30px;
}
