.header {
    background-color: var(--color-dark);
    border: 0;
    border-radius: var(--default-border-radius);
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: var(--default-padding);
}

.header-title {
    border: 0;
    color: var(--color-light);
    font-size: 70px;
    height: fit-content;
    margin: 0;
    padding: 0;
    text-align: center;
    width: fit-content;
}
