.comment {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.comment > img {
    border-radius: 8px;
    box-sizing: initial;
    height: 3em;
    width: 3rem;
}

.comment .commentBox {
    flex: 1;
}

.comment .commentBox .commentContent {
    background: var(--grey-700);
    border-radius: 8px;
    padding: 1rem;
}

.comment .commentBox .commentContent > header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.comment .commentBox .commentContent > header .authorAndTime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment .commentBox .commentContent > header .authorAndTime * {
    display: block;
    line-height: 1.6;
}

.comment .commentBox .commentContent > header .authorAndTime > strong {
    font-size: 0.875rem;
}

.comment .commentBox .commentContent > header .authorAndTime > time {
    color: var(--grey-400);
    font-size: 0.75rem;
}

.comment .commentBox .commentContent > header > button {
    background: transparent;
    border-radius: 2px;
    color: var(--grey-400);
    cursor: pointer;
    line-height: 0;
}

.comment .commentBox .commentContent > header > button:hover {
    color: var(--red-500);
}

.comment .commentBox .commentContent > p {
    color: var(--grey-300);
    margin-top: 1rem;
}

.comment .commentBox > footer {
    margin-top: 1.5rem;
}

.comment .commentBox > footer > button {
    align-items: center;
    background: transparent;
    border-radius: 2px;
    color: var(--grey-400);
    cursor: pointer;
    display: flex;
}

.comment .commentBox > footer > button:hover {
    color: var(--green-300);
}

.comment .commentBox > footer > button > svg {
    margin-right: 0.5rem;
}

.comment .commentBox > footer > button > span::before {
    content: '\2022';
    padding: 0 0.25rem;
}
