.box {
    background-color: var(--color-dark);
    border: 0;
    border-radius: var(--default-border-radius);
    height: fit-content;
    margin: var(--default-margin);
    padding: var(--default-padding);
    width: fit-content;
}

.box-title {
    color: var(--color-light);
    border: 0;
    font-size: 50px;
    height: fit-content;
    margin: var(--default-margin);
    padding: 0;
    width: fit-content;
}
